# Created by https://www.gitignore.io/api/intellij

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
client/.idea/workspace.xml
client/.idea/tasks.xml
server/.idea/workspace.xml
server/.idea/tasks.xml

# Sensitive or high-churn files:
client/.idea/dataSources/
client/.idea/dataSources.ids
client/.idea/dataSources.xml
client/.idea/dataSources.local.xml
client/.idea/sqlDataSources.xml
client/.idea/dynamic.xml
client/.idea/uiDesigner.xml
server/.idea/dataSources/
server/.idea/dataSources.ids
server/.idea/dataSources.xml
server/.idea/dataSources.local.xml
server/.idea/sqlDataSources.xml
server/.idea/dynamic.xml
server/.idea/uiDesigner.xml

# Gradle:
client/.idea/gradle.xml
client/.idea/libraries
server/.idea/gradle.xml
server/.idea/libraries

# Mongo Explorer plugin:
client/.idea/mongoSettings.xml
server/.idea/mongoSettings.xml

## File-based project format:
client/*.iws
server/*.iws

## Plugin-specific files:

# IntelliJ
client/out/
server/out/

# mpeltonen/sbt-idea plugin
client/.idea_modules/
server/.idea_modules/

# JIRA plugin
client/atlassian-ide-plugin.xml
server/atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
client/com_crashlytics_export_strings.xml
client/crashlytics.properties
client/crashlytics-build.properties
client/fabric.properties
server/com_crashlytics_export_strings.xml
server/crashlytics.properties
server/crashlytics-build.properties
server/fabric.properties

### Intellij Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# client/*.iml
# client/modules.xml
# client/.idea/misc.xml 
# client/*.ipr
# server/*.iml
# server/modules.xml
# server/.idea/misc.xml 
# server/*.ipr
